.container {
  position: relative;
}

.toggle-visibility-btn {
  border: none;
  outline: none;
  background: none;

  position: absolute;

  top: calc((100% - 45px) / 2);
  right: 10px;

  cursor: pointer;
}
