.main {
  width: 800px;
  max-width: calc(100% - 30px);
  margin: 0 auto;
}

.main input {
  font-size: 20px;
  width: 100%;

  padding: 16px 12px;

  border-radius: 6px;
  border: none;

  outline: none;
}

.validation-item {
  margin-bottom: 8px;
  font-size: 16px;
  position: relative;
}

.validation-indicator {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.validation-message {
  display: block;
  margin-left: 22px;
}

/* RESPONSIVE: */
@media (min-width: 768px) {
  .main input {
    font-size: 32px;
  }

  .validation-item {
    margin-bottom: 12px;
    font-size: 24px;
  }

  .validation-message {
    margin-left: 36px;
  }
}

/* ANIMATIONS: */
.validation-item-enter {
  opacity: 0;
}
.validation-item-enter-active {
  opacity: 1;
  transition: opacity var(--validation-item-animation-timeout, 250ms) ease-out;
}
.validation-item-exit {
  opacity: 1;
}
.validation-item-exit-active {
  opacity: 0;
  transition: opacity var(--validation-item-animation-timeout, 250ms) ease-out;
}

.validation-indicator-enter {
  transform: rotateY(90deg);
}
.validation-indicator-enter-active {
  transform: rotateY(0);
  transition: transform var(--validation-indicator-animation-timeout, 250ms);
  transition-delay: var(--validation-indicator-animation-timeout, 250ms);
}
.validation-indicator-exit {
  transform: rotateY(0);
}
.validation-indicator-exit-active {
  transform: rotateY(-90deg);
  transition: transform var(--validation-indicator-animation-timeout, 250ms);
}


