:root {
  --background: #1A1D1A;
  --main: #d1e1ef;
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: var(--background);
  text-align: center;
}

h1 {
  color: var(--main);
  letter-spacing: 0.5px;
}

.password-input {
  font-size: 32px;

  width: 750px;
  max-width: calc(100% - 60px);

  padding: 16px 12px;

  border-radius: 6px;
  border: none;

  background: var(--main);
  color: var(--background);

  outline: none;
}
