:root {
  --background: #1A1D1A;
  --main: #d1e1ef;
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: var(--background);

  color: var(--main);
}

h1 {
  color: var(--main);
  letter-spacing: 0.5px;
  text-align: center;
}

.main {
  width: 800px;
  max-width: calc(100% - 60px);
  margin: 0 auto;
}

.password-input {
  font-size: 32px;
  width: 100%;
  margin-bottom: 16px;

  padding: 16px 12px;

  border-radius: 6px;
  border: none;

  background: var(--main);
  color: var(--background);

  outline: none;
}

.text-btn {

  padding: 8px 12px;

  border-radius: 6px;
  border: none;
  outline: none;
}
