:root {
  --background: #1A1D1A;
  --main: #d1e1ef;
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: var(--background);

  color: var(--main);
}

h1 {
  color: var(--main);
  letter-spacing: 0.5px;
  text-align: center;
}

.main {
  width: 800px;
  max-width: calc(100% - 60px);
  margin: 0 auto;
}

.main input {
  font-size: 32px;
  width: 100%;
  margin-bottom: 20px;

  padding: 16px 12px;

  border-radius: 6px;
  border: none;

  background: var(--main);
  color: var(--background);

  outline: none;
}

.errors .error-item {
  margin-bottom: 12px;
  font-size: 20px;
}

/* ANIMATION: */
.error-item-enter {
  opacity: 0;
}
.error-item-enter-active {
  opacity: 1;
  transition: opacity var(--error-list-animation-timeout, 500ms) ease-in;
}
.error-item-exit {
  opacity: 1;
}
.error-item-exit-active {
  opacity: 0;
  transition: opacity var(--error-list-animation-timeout, 500ms) ease-in;
}

